{{- $icons := dict
  "caution" ":exclamation:"
  "important" ":information_source:"
  "note" ":information_source:"
  "tip" ":bulb:"
  "warning" ":warning:"
-}}

{{- if eq .Type "alert" -}}
  {{- $t := .AlertType -}}
  {{- $title := "" -}}
  {{- with .AlertTitle -}}
    {{- $title = . -}}
  {{- else -}}
    {{- $title = or (i18n $t) (title $t) -}}
  {{- end -}}
  {{- $icon := index $icons $t | default ":information_source:" -}}

  {{- /* foldable: [!NOTE]+ or [!NOTE]- */ -}}
  {{- if or (eq .AlertSign "+") (eq .AlertSign "-") -}}
    <details class="callout callout-{{ $t }}" {{ if eq .AlertSign "+" }}open{{ end }}>
      <summary class="callout-title">
        <span class="callout-icon">{{ transform.Emojify $icon }}</span>
        <span class="callout-label">{{ $title }}</span>
      </summary>
      <div class="callout-content">
        {{ .Text }}
      </div>
    </details>
  {{- else -}}
    <div class="callout callout-{{ $t }}">
      <div class="callout-title">
        <span class="callout-icon">{{ transform.Emojify $icon }}</span>
        <span class="callout-label">{{ $title }}</span>
      </div>
      <div class="callout-content">
        {{ .Text }}
      </div>
    </div>
  {{- end -}}

{{- else -}}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{- end -}}